<!DOCTYPE HTML>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Pilapse Web Interface v0.0</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/pilapse.css' %}" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/pilapse.js' %}"></script>   
</head>

<body>

<!--
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="overviewBtn">PiLapse</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li><button type="button" href="#" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">Project Select <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Project 1</a></li>
            <li><a href="#">Project 2</a></li>
            <li id="jsonTarget">Project 2</li>
        </ul>
        </li>
        <li><button type="button" id="newProjectBtn" class="btn btn-success navbar-btn" href="newProject">+ New Project</button></li>
        
      </ul>
    </div>
  </div>
</nav>
-->

<!-- start overview content --------------------------------------------------->
<article id="overview">
  <div class="container-fluid" >
    <div class="row">

      <!--Photo preview-->
      <div id="imageFrame" class="col-md-4">
          <img  id="lastImage" src="{% static 'new.jpg' %}" class="img-responsive">
      </div>

      <!--Controls-->
      <div class="col-md-4 controls">
          <div class="alert alert-warning" id="alertBox">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <span id="alertMessage"><strong>Warning!</strong> Server connection lost.</span>
          </div>

        <form id="photoForm" class="form-inline" role="form">
          <div class="form-group">
            <label for="formshutterspeed">Shutter Speed</label>
            <input type="number" name="formshutterspeed" class="form-control"  value="{{ pilapse.ss }}">
          </div><br />
          <div class="form-group">
            <label for="formiso">ISO</label>
            <input type="number" name="formiso" class="form-control" value="{{ pilapse.iso }}">
          </div>
        </form>

        <p>
        <button type="button" class="refreshButton btn btn-primary">Refresh Image</button><br />
        </p>

        <p>
        <button type="button" class="photoButton activebutton btn btn-primary">Take Picture</button><br />
        <button type="button" class="calibrateButton activebutton btn btn-primary">Find SS/ISO</button><br />
        <button type="button" class="lapseButton activebutton btn btn-primary">Start Timelapse</button><br />
        </p>

        <p>
        <button type="button" class="deactivateButton btn btn-primary">Deactivate Camera</button><br />
        </p>

        <p>
        <button type="button" class="deleteButton btn btn-warning">Delete All Pictures</button><br />
        <button type="button" class="rebootButton btn btn-warning">Reboot</button><br />
        <button type="button" class="poweroffButton btn btn-warning">Power Off</button><br />

        </p>


        <div class="alert alert-warning" id="confirm_box">
        </div>
      </div>

      <!--Settings-->
      <div class="col-md-4 sidebar">
        <h3>PiLapser</h3>
        <ul class="nav nav-sidebar">
            <li> <b>Active:</b> <span id="pilapse_active">{{ pilapse.active }}</span> </li>
            <li> <b>Status:</b> <span id="pilapse_status">{{ pilapse.status }}</span> </li>
            <li> <b>Current SS:</b> <span id="pilapse_ss">{{ pilapse.ss }}</span> </li>
            <li> <b>Current ISO:</b> <span id="pilapse_iso">{{ pilapse.iso }}</span> </li>
            <li> <b>Avg Brightness:</b> <span id="pilapse_avgbr">{{ pilapse.avgbr }}</span> </li>
            <li> <b>Shots taken:</b> <span id="pilapse_shots">{{ pilapse.shots_taken }}</span> </li>
            <li> <b>Last shot:</b> <span id="pilapse_lastshot">{{ pilapse.lastshot }}</span> </li>
            <li> <b>Last shot brightness:</b> <span id="pilapse_lastbr">{{ pilapse.lastbr }}</span> </li>
        </ul>

        <h4>PiLapse Project</h4>

        <small>
        <ul>
        <li><b>Project Name:</b> {{project.project_name}}</li>
        <li><b>Project Folder:</b> {{project.folder}}</li>
        <li><b>Available Disk Space:</b> <span id='diskfree'></span></li>
        <li><b>Est Shots Remaining:</b> <span id='remaining'></span></li>
        </ul>
        <form id="projectForm" class="form-inline" role="form">
          <div class="form-group">
            <label for="">Interval (<span id="project_interval">{{project.interval}}</span>)</label>
            <input type="number" name="projinterval" class="form-control"  value="{{project.interval}}">
          </div><br />
          <div class="form-group">
            <label for="">Width (<span id="project_width">{{project.width}}</span>)</label>
            <input type="number" name="projwidth" class="form-control"  value="{{project.width}}">
          </div><br />
          <div class="form-group">
            <label for="">Height (<span id="project_height">{{project.height}}</span>)</label>
            <input type="number" name="projheight" class="form-control"  value="{{project.height}}">
          </div><br />
          <div class="form-group">
            <label for="">Brightness (<span id="project_brightness">{{project.brightness}}</span>)</label>
            <input type="number" name="projbrightness" class="form-control"  value="{{project.brightness}}">
          </div><br />
          <div class="form-group">
            <label for="">Delta (<span id="project_delta">{{project.delta}}</span>)</label>
            <input type="number" name="projdelta" class="form-control"  value="{{project.delta}}">
          </div><br />
          <button type="button" class="projSaveButton btn btn-primary">Save Settings</button>
        </form>
        </small>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-md-offset-2 col-md-6">
        </div>
      </div>
    </div>
  </div>


<!--start newProject content--------------------------------------------------->
  </article>
  <article id="newProject" style="display: none">
  <div class="container-fluid">
    <div class="row">
      <div id="imageFrame" class="col-md-4">
        <h3>NEW PROJECT SETTINGS</h3>


          <form class="form-horizontal" role="form" id="newProjectForm">
            <div class="form-group">
              <label for="projectName" class="col-sm-2 control-label">Project name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="projectName" placeholder="Project Name">
              </div>
            </div>
            <div class="form-group">
              <label for="Folder" class="col-sm-2 control-label">Folder:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="folder" placeholder="Folder">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="keepImages">Keep images?
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="Brightness" class="col-sm-2 control-label">Brightness</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="brightness" placeholder="Brightness">
              </div>
            </div>
            <div class="form-group">
              <label for="Interval" class="col-sm-2 control-label">Interval</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="interval" placeholder="Inverval in Seconds">
              </div>
            </div>
            <div class="form-group">
              <label for="width" class="col-sm-2 control-label">Width</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="width" placeholder="640">
              </div>
            </div>
            <div class="form-group">
              <label for="height" class="col-sm-2 control-label">Height</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="height" placeholder="480">
              </div>
            </div>
            <div class="form-group">
              <label for="maxTime" class="col-sm-2 control-label">Maximum Time</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="maxTime" placeholder="Maximum time in minutes">
              </div>
            </div>
            <div class="form-group">
              <label for="maxShots" class="col-sm-2 control-label">Maximum Shots</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="maxShots" placeholder="Maximum Shots">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="listen">Listen mode?
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" id="newProjectSubmit">Submit</button>
              </div>
            </div>
          </form>
      </div>


      <div id="imageFrame" class="col-md-4">
        <h1>NEW PROJECT</h1>
          <img  id="lastImage" src="http://i.imgur.com/2P8AYmw.jpg" class="img-responsive">
      </div>
      <div class="col-md-4 sidebar">
        <ul class="nav nav-sidebar">
        <h3>PiLapse Project</h3>
        
            <li> Name: {{ project.project_name }} </li>
            <li> Folder: {{ project.folder }} </li>
            <li> Interval: {{ project.interval }} </li>
            <li> Height: {{ project.height }} </li>
            <li> Width: {{ project.width }} </li>
            <li> Brightness: {{ project.brightness }} </li>
            <li> Delta: {{ project.delta }} </li>
            <li> Listen Mode: {{ project.listen }} </li>
            <li> Keep Images: {{ project.keep_images }} </li>
        </ul>
        <h3>PiLapser</h3>
        <ul class="nav nav-sidebar">
            <li> Active: {{ pilapse.active }} </li>
            <li> Start on boot: {{ pilapse.start_on_boot }} </li>
            <li> Project: {{ pilapse.project }} </li>
            <li> Current SS: {{ pilapse.ss }} </li>
            <li> Current ISO: {{ pilapse.iso }} </li>
            <li> Avg Brightness: {{ pilapse.lastbr }} </li>
            <li> Shots taken: {{ pilapse.shots_taken }} </li>
            <li> Avg Brightness: {{ pilapse.lastbr }} </li>
        </ul>
      </div>
    </div>    
      
    </div class="row">  
      <div class="col-md-offset-2 col-md-6">
        <form id="photoForm" class="form-inline" role="form">
          <div class="form-group">
            <label for="">Shutter Speed</label>
            <input type="number" name="shutterspeed" class="form-control"  value=500>
          </div>
          <div class="form-group">
            <label for="">ISO</label>
            <input type="number" name="iso" class="form-control" value=200 >
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-6">
          <button type="button" class="photoButton activebutton btn btn-primary">Take Picture</button>
          <button type="button" class="refreshButton activebutton btn btn-primary">Refresh Image</button>
         <!--<nav style="display:block; margin:auto;">
            <ol style="list-style-type:none;">
            <li class="photoButton navbutton" style="border:1px dotted black; padding:.25em; width:5em; display:inline;">Take a picture!</li>
            <li class="refreshButton navbutton" style="border:1px dotted black; padding:.25em; width:5em; display:inline;">Refresh Image</li>
            </ol>
            </nav>-->
        </div>
      </div>
    </div>
        

        
  </div>

</article>
<div id='jsontarget'>
</div>

</body>
