{% load staticfiles %}
<div class="container-fluid">
    <div class="row">
      <div id="imageFrame" class="col-md-offset-2 col-md-6">
        <h1>NEW PROJECT</h1>
          <img  id="lastImage" src="http://i.imgur.com/2P8AYmw.jpg" class="img-responsive">
      </div>
          
      
      <div class="col-md-offset-1 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
        <h3>PiLapse Project</h3>
        
            <li> Name: {{ project.project_name }} </li>
            <li> Folder: {{ project.folder }} </li>
            <li> Interval: {{ project.interval }} </li>
            <li> Height: {{ project.height }} </li>
            <li> Width: {{ project.width }} </li>
            <li> Brightness: {{ project.brightness }} </li>
            <li> Delta: {{ project.delta }} </li>
            <li> Listen Mode: {{ project.listen }} </li>
            <li> Keep Images: {{ project.keep_images }} </li>
        </ul>
        <h3>PiLapser</h3>
        <ul class="nav nav-sidebar">
            <li> Active: {{ pilapse.active }} </li>
            <li> Start on boot: {{ pilapse.start_on_boot }} </li>
            <li> Project: {{ pilapse.project }} </li>
            <li> Current SS: {{ pilapse.ss }} </li>
            <li> Current ISO: {{ pilapse.iso }} </li>
            <li> Avg Brightness: {{ pilapse.lastbr }} </li>
            <li> Shots taken: {{ pilapse.shots_taken }} </li>
            <li> Avg Brightness: {{ pilapse.lastbr }} </li>
        </ul>
      </div>
    </div>    
      <div class="col-md-offset-2 col-md-6">
        <form id="photoForm" class="form-inline" role="form">
          <div class="form-group">
            <label for="">Shutter Speed</label>
            <input type="number" name="shutterspeed" class="form-control"  value=500>
          </div>
          <div class="form-group">
            <label for="">ISO</label>
            <input type="number" name="iso" class="form-control" value=200 >
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-6">
          <button type="button" class="photoButton navbutton btn btn-primary">Take Picture</button>
          <button type="button" class="refreshButton navbutton btn btn-primary">Refresh Image</button>
         <!--<nav style="display:block; margin:auto;">
            <ol style="list-style-type:none;">
            <li class="photoButton navbutton" style="border:1px dotted black; padding:.25em; width:5em; display:inline;">Take a picture!</li>
            <li class="refreshButton navbutton" style="border:1px dotted black; padding:.25em; width:5em; display:inline;">Refresh Image</li>
            </ol>
            </nav>-->
        </div>
      </div>

        

        
    </div>
  </div>

